@charset "UTF-8";

body {
    background: #fff;
    font-family: Georgia;
    font-size: 20px;
    line-height: 1.5em;
}


div.base {
    background: #eeeeee;
    width: 900px;
    margin: auto;
}

h1,
h2 {
    margin: 0;
    color: black;
}

section.bloco1 {
    background: orange;
    width: 200px;
    float: left;

}


section.bloco2 {
    background: green;
    width: 500px;
    float: left;
    margin-left: 200px;
    margin-top: -3.3%;
}

section.bloco3 {
    background: red;
    margin-left: 700px;
    width: 200px;
}

.imagem {

    float: left;
    margin: 10px;
}

.texto {
    float: right;
}

.ultimo_paragrafo {
    float: left;
    margin-left: -23%;
}
